version: '3'

services:
  postgres:
    container_name: postgres
    image: postgres:10-alpine
    environment:
      - POSTGRES_DB=generator
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
